{{/*  Author Page  */}}
{{ define "main" }}

<article class="px-20 py-14">
  {{/*  Title  */}}
  <h1 class="default-darkmode-text text-[48px] font-semibold -mb-1">{{ .Title }}</h1>

  {{/*  Extract author from url  */}}
  {{ $author := index (last 2 (split .Permalink "/")) 0 }}
  
  {{/*  List of posts by the author  */}}
  <ul class="{{ $author }}">
      {{ with ($.Site.GetPage (printf "/%s" $author)) }}
          {{ range .Pages }}
              <li>
                <a href="{{ .Permalink }}">
                  {{ .Date.Format "02 Jan 2006" }}, 
                  {{ .Title }}
                </a>
              </li>
          {{ end }}
      {{ end }}
  </ul>

</article>

{{ end }}