<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}

    <body class="flex relative h-full min-h-screen">
        <script>
            savedTheme = localStorage.getItem('theme') || 'dark';
            document.body.classList.toggle('dark', savedTheme === 'dark');
        </script>

        {{- partial "sidebar.html" . -}}

        {{/*  Content  */}}
        <div class="flex h-screen w-full default-darkmode-item-2 overflow-y-auto">  
        {{- block "main" . }}{{- end }}
        </div>


        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
