{{ define "main" }}
<article class="px-20 py-14 bg-inherit">
  {{/*  Title  */}}
  <h1 class="default-darkmode-text text-[48px] font-semibold -mb-1">{{ .Title }}</h1>

  {{/* Date, Authors */}}
  <small class="text-sm pl-1 text-slate-500 dark:text-gray-400">
    {{ .Params.date.Format "02 Jan 2006" }},
    {{ range $index, $author := .Params.authors }}
      {{ if $index }}, {{ end }}
      {{ $fmt_author := replace (lower .) " " "-" }}
      <a href="/authors/{{ $fmt_author }}">{{- partial "author_abbrev" $author -}}</a>
    {{ end }}
  </small>

  <ul class="pl-1 py-3">
    {{ range (.GetTerms "tags") }}
        <li class="default-darkmode-item default-darkmode-text tag-btn"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>


  {{/*  Content  */}}
  <section class="pt-10 pb-16 prose dark:prose-invert transition-colors prose-base">
      {{ .Content }}
  </section>

  {{/*  Comment Section  */}}
  <div class="w-full bg-inherit">
    <hr class="h-px my-8 bg-neutral-900 border-0 dark:bg-neutral-300">
    <section class="w-[75%] bg-inherit">
      <h1 class="default-darkmode-text text-[32px] font-semibold">Comments</h1>
      {{ partial "comments" . }}
    </section>
  </div>
  

</article>

{{/*  Horizontal line  */}}

{{/* Comment Section */}}
  <article id="comment-container" class="w-[75%] ml-20 bg-white dark:bg-neutral-800 border-white rounded-3xl">
    <div class="m-10">
    </div>
  </article>
{{ end }}