@tailwind base;
@tailwind components;
@tailwind utilities;


.default-darkmode-item {
  @apply border-slate-400 bg-slate-300 dark:bg-gray-900 transition-colors;
}

.default-darkmode-item-2 {
  @apply bg-slate-200 dark:bg-pink-800 transition-colors;
}

.default-darkmode-text {
  @apply text-black dark:text-white transition-colors;
}

.default-darkmode-fill {
  @apply fill-black dark:fill-white transition-colors;
}

.prose-darkmode {
  @apply prose dark:prose-invert transition-colors;
}

.pointer-ignore {
  @apply pointer-events-none cursor-default;
}


.tag-btn {
  text-align: center;
  display: inline-block;
  padding: 5px 20px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 10px 0px 0px;
  border-radius: 20px;
  font-size: 15px;
}

.tag-btn:before {
  @apply bg-slate-900 dark:bg-slate-300;
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: relative;
  left: -75px;
  top: -40px;
  transform: rotate(37deg);
  opacity: 0.3;
  transition: all .5s;
}

.tag-btn:hover::before {
  left:100%;
  transition: all .3s;
}

.package-paper-icon{
  @apply fill-neutral-800 dark:fill-neutral-400 items-center ml-4;
  height: 15px;
  
}


.content-background{
  @apply bg-neutral-200 dark:bg-neutral-800 rounded-tl-lg transition-colors;
  flex: 1;
}

.rounded-circle {
  object-fit: cover;
  border-radius: 50%;
}

.darkmode-button-position {
  position: absolute;
  top: 15px;
  right: 25px;
}

.darkmode-theme-button {
  width: 34px; 
  height: 12px;
  top: -20px;
  left: 50%;
  position: relative;
  display: flex;
  background: #0A0A0A;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05), inset 0px -1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 31px;
  cursor: pointer;
  transition: 0.3s;
}
.darkmode-theme-button:after {
  content: "";
  width: 18px;
  height: 18px;
  position: relative;
  right: 63%;
  top: -3px;
  background: #262626;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 31px;
  transition: 0.3s;
}
input {
	width: 0;
	height: 0;
	visibility: hidden;
}
input:checked + .darkmode-theme-button {
  background: #F5F5F5;
}
input:checked + .darkmode-theme-button:after {
  transform: translate(120%);
  background: #F5F5F5;
}
.darkmode-theme-button:active:after {
  width: 20px;
}
.darkmode-theme-button svg.moon {
  position: relative;
  width: 9px;
  height: 9px;
  top: 1px;
  z-index: 1000;
  fill:#D4D4D4;
  transition: 0.1s;
}
.darkmode-theme-button svg.sun {
  position: relative;
  width: 9px;
  height: 9px;
  top: 1px;
  left: 40%;
  z-index: 1000;
  fill: #A3A3A3;
  opacity: 0;
  transition: 0.1s;
}
input:checked + .darkmode-theme-button svg.moon {
  opacity: 0;
}
input:checked + .darkmode-theme-button svg.sun {
  opacity: 1;
}

/* Custom SCrollbar */

/*
 * The custom scrollbar is used for the body of the main content of the page. 
 */

.customScrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.customScrollbar::-webkit-scrollbar-track {
  @apply bg-inherit;
}

/* Handle */
.customScrollbar::-webkit-scrollbar-thumb {
  @apply dark:bg-neutral-500 bg-neutral-700;
}

/* Handle on hover */
.customScrollbar::-webkit-scrollbar-thumb:hover {
  @apply dark:bg-neutral-600 bg-neutral-900;
}

/* AUTHOR PAGE */
/* :root {
  --white: #D9D9D9;
  --grey: #7C7C7C;
} */

.name {
  font-size: clamp(25px, calc(5vw - 10px), 70px);
  @apply text-black dark:text-white transition-colors;
}
.profilePic {
  width: clamp(50px, calc(12vw + 50px), 1500px);
  height: clamp(50px, calc(12vw + 50px), 1500px);
  box-shadow: 0px 0px 30px 1px var(--grey);
}

.social {
  width: clamp(25px, calc(5vw - 10px), 54px);
  transition: 500ms ease;
  @apply default-darkmode-fill
}
.social:hover {
  transform: scale(110%);
  transition: 200ms ease;
}
.socialTxt {
  transform: translateY(70px);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  font-size: 20px;
  opacity: 0;
  transition: 200ms ease-in-out;
  @apply text-neutral-600 dark:text-neutral-400;
}
.social:hover ~ .socialTxt {
  opacity: 1;
  transform: translateY(60px);
  font-size: 15px;
}

.bioContainer {
  box-shadow: 0px 0px 15px -2px;
  border-radius: 15px;
  padding: 20px;
  @apply bg-neutral-400 dark:bg-neutral-200 dark:text-neutral-800 text-neutral-400;
}

.postListing {
  background-color: var(--grey);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 15px -2px black;
  width: 350px;
  height: 250px;
  transition: 500ms ease;
}
.postListing:hover {
  transform: translateY(-10px) scale(102%);
  transition: 200ms ease;
}
.listingTitle {
  left: -20px; 
  padding-left: 30px;
  background-color: var(--white);
}
