<div class="flex flex-row h-7 min-w-full min-h-fit justify-between overflow-hidden top-0 fixed">
    <div class="
    bg-transparent items-center pt-0.5 flex flex-row overflow-hidden min-h-fit">
      {{ partial "helper/svg" "package-paper-icon" }}
      <div class="min-h-fit min-w-full ml-2 font-sans font-bold text-sm  tracking-wide flex text-neutral-700 dark:text-neutral-400 transition-colors">
        <a href="/" class="min-h-full"> Package-Papers </a>
      </div>
    </div> 

    {{/*  TODO: Fix this.  */}}
    {{/*  <div class="darkmode-button-position" >
      {{- partial "darkmode-button" -}}
    </div>  */}}
  </div>
