{{/*  Sidebar  */}}
<aside class="min-h-screen h-full w-[12.5%] relative border-r-2 border-r-slate-400 flex flex-col flex-shrink-0 default-darkmode-item">
  
  {{/*  Title  */}}
  <div class="default-darkmode-item flex text-black text-xl font-semibold border-b-2 border-b-slate-400 items-center h-16 justify-center">
    <a class="truncate default-darkmode-text text-xl">
      Package Papers
    </a>
  </div>

  {{/*  Nav menu (loaded from config.toml) */}}
  <div class="h-full default-darkmode-item flex flex-col">
    <div class="h-[75%]">
      
      {{ $isPostPage := and (.IsPage) (eq .Type "posts") }}
      {{ if $isPostPage }}
      
        <a href="{{ .Page.RelPermalink }}/#" class="default-darkmode-text">Top</a>
        <div class="default-darkmode-text">{{ .TableOfContents }}</div>
        <a href="/posts" class="default-darkmode-text">Back</a>

      {{ else }}
        <ul class="flex flex-col list-none">
          {{ range .Site.Params.sidebar.menu }}
            <li>
              <a 
              href="{{ if not .header }}{{ .url }}{{ else }}#{{ end }}" 
              class="flex flex-row {{ if .header }} font-semibold pointer-events-none cursor-default {{ else }} pl-5 hover:bg-slate-100 dark:hover:bg-slate-700 {{ end }}">
                <span class="truncate prose-darkmode {{ if .header }} text-base {{ else }} text-sm {{ end }}">{{ .name }}</span>
              </a>
            </li>
          {{ end }}
        </ul>     

        {{/*  Does not render if there are no authors  */}}
        {{ if not (eq (len .Site.Taxonomies.authors) 0) }}
          {{/*  Authors  */}}
          <ul>
            <li>
              <span class="truncate prose-darkmode pointer-ignore font-semibold">AUTHORS</span>
            </li>
            {{ range .Site.Taxonomies.authors }}
                <li>
                  <a href="{{ .Page.RelPermalink }}" class="pl-5 prose-darkmode text-sm">
                  {{- partial "author_abbrev" .Page.Title }}
                  </a>
                </li>
            {{ end }}
          </ul>
        {{ end }}

      {{ end }}
    </div> 

    {{/*  Side bar footer  */}}
    <div class="absolute bottom-0 h-[25%] border-t-2 border-t-slate-400 justify-center w-full">
      {{- partial "darkmode-button.html" . -}}
    </div>
  </div>

</aside>
